# Data directories
export/*
prep/*
restore/*

# Configuration
.ssh
**/.env*
# Former configuration file format; leaving here to prevent accidental inclusion
**/config.yml

# Testing directories
test/bag_test_dir
test/test_bag_val_dir
test/*_test

# Misc.
.DS_Store
